html, body {
    font-family: 'Raleway', sans-serif;
}

.primary-bg {
    background-color: #17011F;
}

.secondary-bg {
    background-color: #FFC8DD;
}

.card {
    height: 300px;
}

.card-shadow {
    box-shadow: 0px 4px 4px 5px rgba(23, 1, 31, 0.4);
}