html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.about-page-bg {
    background-image: url('../images/AboutBgImage.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.pointer {
    cursor: pointer;
}

.active-nav {
    position: relative;
}

.active-nav::before {
    content: "";
    width: 30px;
    position: absolute;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid #17011F;
}

.primary-bg {
    background-color: #17011F;
}

.secondary-bg {
    background-color: #FFC8DD;
}

.card {
    height: 200px;
}

.card-shadow {
    box-shadow: 0px 4px 4px 5px rgba(23, 1, 31, 0.4);
}

.search-input-holder {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 7%;
    top: 22%;
}

.nav-items li{
    list-style: none;
    margin-right: 100px;

}

.contact-form{
   /* margin: 0px, -30px, 10px, 0px;*/
    background-color: #FFFFFF;
    /*top: 391px;*/
}

.contact-form-fields{
    margin: 0px, 0px, 0px, 20px;
    position: absolute;
    width: 345px;
    height: 71px;
    left: 384px;
    top: 494px;
}

.testimonial-card{
    border-radius: 10px;
}

.mt-n5 {
    margin-top: -4.5rem;
}

.pointer {
    cursor: pointer;
}

.promo-position {
    top: -5rem;
}

@media (min-width: 992px) {
    .promo-position {
        top: -9rem;
    }
}




/* ANIMATIONS */
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
@keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
} 


.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
@keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
@keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}